<!-- ID PRODUTO -->
<div class="po-row" *ngIf="idProduto" >
  <div class="po-md-4">
    <po-input
      p-label="ID"
      [(ngModel)]="idProduto"
      p-readonly=true
    ></po-input>
  </div>
</div>

<!-- NOME PRODUTO -->
<div class="po-row">
  <div class="po-md-6">
    <po-input
      p-auto-focus=true
      p-label="Nome do produto"
      name="nome_produto"
      [(ngModel)]="nomeProduto"
      (p-change)="enviaDados()"
    ></po-input>
  </div>

<!-- CATEGORIA -->
  <div class="po-md-6">
    <po-select
      name="categoria"
      p-label="Categoria"
      [p-options]="categorias"
      [(ngModel)]="categoria"
      (p-change)="enviaDados()"
    ></po-select>
  </div>
</div>

<div class="po-row">
  <div class="po-md-6">
    <po-input
      p-label="Preço"
      name="preco"
      [(ngModel)]="preco"
      (p-change)="enviaDados()"
    ></po-input>
  </div>

  <div class="po-md-6">
    <po-input
      p-label="Quantidade"
      name="quantid"
      [(ngModel)]="quantid"
      (p-change)="enviaDados()"
    ></po-input>
  </div>
</div>

<!-- DESCRICAO -->
<div class="po-row">
  <div class="po-md-12">
    <po-textarea
      name="descricao"
      p-label="Descrição"
      [(ngModel)]="descricao"
      (p-change)="enviaDados()"
    ></po-textarea>
  </div>
</div>

<div class="po-row">
  <div class="po-md-9">
    <po-input
      p-readonly=true
      p-label="Anexo"
      name="image"
      [(ngModel)]="image"
      (p-change)="enviaDados()"
    ></po-input>
  </div>

  <div class="po-md-3" style="margin-top: 7px;">
    <po-upload
      p-hide-send-button=true
      p-label="Anexar Imagem"
      p-url="/"
    ></po-upload>
  </div>
</div>
