<!-- <form #cadastroProduto="ngForm"  > -->

  <div class="po-row">
    <div class="po-md-6">
      <po-input
        p-auto-focus=true
        p-label="Nome do produto"
        name="nome_produto"
        [(ngModel)]="nomeProduto"
        (p-change)="enviaDados()"
      ></po-input>
    </div>

    <div class="po-md-6">
      <po-select
        name="categoria"
        p-label="Categoria"
        [p-options]="categorias"
        [(ngModel)]="categoria"
        (p-change)="enviaDados()"
      ></po-select>
    </div>
  </div>

  <div class="po-row">
    <div class="po-md-12">
      <po-textarea
        name="descricao"
        p-label="Descrição"
        [(ngModel)]="descricao"
        (p-change)="enviaDados()"
      ></po-textarea>
    </div>
  </div>

<!-- </form> -->
