<po-page-list
  p-title="Categorias"
  [p-actions]="actions"
>

  <po-table
    [p-columns]="columns"
    [p-items]="items"
    p-selectable=true
    p-single-select=true
    p-container="shadow"
  ></po-table>

</po-page-list>


<po-modal
  p-title="Adicionar Categoria"
  [p-primary-action]="confirmNovo"
  [p-secondary-action]="closeNovo"
>
  <form #novoForm="ngForm">
    <div class="po-row">
      <div class="po-md-12">

        <po-input
          p-auto-focus=true
          p-required=true
          p-label="Nome da categoria"
          name="nome_categoria"
          p-icon="po-icon-info"
        ></po-input>

      </div>
    </div>
  </form>
</po-modal>
