<po-page-list
  p-title="Produtos"
  [p-actions]="actions"
>

  <po-table
    [p-columns]="columns"
    [p-items]="items"
    p-selectable=true
    p-single-select=true
    p-container="shadow"
    (p-selected)="selectRowFunction($event)"
    (p-unselected)="selectRowFunction($event)"
  ></po-table>

</po-page-list>

<!-- MODAL CADASTRO DE CATEGORIAS -->
<po-modal #modalProduto
  [p-title]="produtoTitle"
  [p-primary-action]="confirmNovo"
  [p-secondary-action]="closeNovo"
  p-size="xl"
>
  <app-cadastrar-produtos (form)="recebeValores($event)"></app-cadastrar-produtos>
</po-modal>

<!-- MODAL CONFIRM -->
<po-modal #modalConfirm
  p-title="Remover item?"
  [p-primary-action]="confirmConfirm"
  [p-secondary-action]="closeConfirm"
>
  <p>Deseja realmente excluir produto "{{ produtoSelecionado["nome_produto"] }}"?</p>
</po-modal>
